<html>
  <head>
  </head>


  <body>
  	 <div class="jumbotron" style="background-image:url('assets/portada2.jpg'); background-size: cover; height: 600px";>
        <div class="container">
          <div class="col-lg-6">
            <br>
            <br>
            <br>
            <h2 style="color:black;">Se el mejor vestido, sin ir nunca al mall</h2>
            <span class="text-muted" style="color: black;font-weight: 800;">ROPA. SIN VITRINEAR. PUNTO.</span>
            <br>
            <br>
            <p>

              <% if current_user.nil? %>
                <a href="<%= new_user_registration_path %>" class="btnwolf" role="button">Regístrate &raquo;</a>            
              <% else %>

                <a href="/cuenta" class="btnwolf" role="button">Tu cuenta, <%= current_user.name %> &raquo;</a>
                
              <% end %>
              

            </p>
          </div><!-- /.col-lg-4 --> 
          
        </div>
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row" style="padding-bottom: 30px";>
          <div class="col-lg-4" align="center">
            <img class="img-circle" style="width: 140px; height: 140px;" src="assets/computer.png">
            <h3>1. Inscríbete</h3>
            <p style="font-size: 14px;">Completa una encuesta muy rápida sobre lo que te gusta y lo que siempre ocupas; para luego ser asistido por uno de nuestros asesores.</p>                   
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4" align="center">
            <img class="img-circle" style="width: 140px; height: 140px;" src="assets/clothes.png">
            <h3>2. Seleccionamos tus prendas</h3>
            <p style="font-size: 14px;">Tu asesor prepara un conjunto de prendas basado en tus preferencias, tus gustos y lo que te falta.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align="center">
            <img class="img-circle" style="width: 140px; height: 140px;" src="assets/delivery.png">
            <h3>3. Recibe la ropa</h3>
            <p style="font-size: 14px;">Recibe tus prendas elegidas en tu casa sin tener que pisar una tienda.</p>
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <br>
            <br>
            <br>
            <h3 class="featurette-heading">Vete la raja. <span class="text-muted">Sin el trabajo de hacerlo.</span></h3>
            <p style="font-size: 14px;">Nuestros asesores conocen lo que quiere el hombre de hoy. Ellos cuentan con basta experiencia en el rubro por lo que te podrán recomendar cual es tu talla adecuada junto con los colores que te harán destacar. Analizamos características físicas como también los gustos personales para proveerte de forma correcta.</p>
          </div>
           <div class="col-md-1"></div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/jeans.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" style="padding-bottom: 50px";>
          <div class="col-md-1"></div>
          <div class="col-md-5" align="center">            
            <br>
            <img class="featurette-image img-responsive" src="assets/marcas.png">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">            
            <br>
            <h3 class="featurette-heading">Las marcas que necesitas. <span class="text-muted">y quieres.</span></h3>
            <p style="font-size: 14px;">WOLF maneja una gran variedad de marcas, desde las más premium hasta las sport. Contamos con un amplio abanico de proveedores, porque pensamos en todas las situaciones posibles con las que se encuentra el hombre de hoy.</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <hr class="featurette-divider">


        <div class="row" style="padding-bottom: 30px";>
          <div class="col-lg-4" align="center">
            <img class="img-circle img-responsive" style="width: 140px; height: 140px;" src="assets/truck.png">
            <h3>Envío</h3>
            <p style="font-size: 14px;">El envío es gratis. Sabemos lo molesto que es pagar por el shipping, por lo que tampoco queremos complicarte de más. Tu envío llegará entre 5-7 días hábiles.</p>                   
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4" align="center">
            <img class="img-responsive" style="width: 140px;" src="assets/money.png">
            <h3>Precios</h3>
            <p style="font-size: 14px;">WOLF es un servicio que hace que la compra de ropa sea más fácil. Con precios similares a las tiendas más un cargo del 15% por el servicio de selección y asesoramiento personalizado.</p>
            
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4" align="center">
            <img class="img-circle img-responsive" style="width: 140px; height: 140px;" src="assets/smile.png">
            <h3>Personalizado.</h3>
            <p style="font-size: 14px;">WOLF estará ahí para ayudarte. Para que no vuelvas a pisar un mall, te ayudamos a vestir lo mejor posible. Te recordemos cuándo sea hora renovar esa polera regalona.</p>
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-1"></div>
          <div class="col-md-4">         
            <h3 class="featurette-heading">Pablo te conoce.<span class="text-muted"> Sí, le pasa lo mismo que a tí…</span></h3>
            <p style="font-size: 14px;">Sabemos cómo te cargan las filas, los tacos y probarte toda esa ropa. ¿Para Qué? Si tú ya sabes lo que ocupas, que talla utilizas y que tiendas te gustan.</p>
            <br>
            <h3 align="center">WOLF te hace la vida más fácil</h3>
          </div>
           <div class="col-md-1"></div>
          <div class="col-md-5">

           <!-- Button trigger modal -->
           <a href="#" class="highlightit" data-toggle="modal" data-target="#myModal"><img border="0" src="assets/topvid.png" style="width: 500px; padding-bottom: 30px;"align="center" ></a>
 
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  
                  <div class="modal-body">
                    <iframe src="//player.vimeo.com/video/76837252" width="535" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                  
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
                   
          </div>
        </div>

        <hr class="featurette-divider">



        <div class="centered">
          <% if current_user.nil? %>
            <a href="<%= new_user_registration_path %>" class="btnwolf" role="button">Regístrate &raquo;</a>            
          <% else %>
            <a href="/cuenta" class="btnwolf" role="button">Tu cuenta, <%= current_user.name %> &raquo;</a>
            
          <% end %>                   
             
        </div>

         <hr class="featurette-divider">


      

        



        <!-- /END THE FEATURETTES -->
  </body>
</html>