<html>
  <head>

  </head>


  <body>

      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGT4J3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGT4J3');</script>
      <!-- End Google Tag Manager -->
  	 

      <div class="container marketing" style="padding-top: 80px">
        <!-- Three columns of text below the carousel -->
        <div class="row" style="padding-bottom: 30px";>

          <h2 style="padding-left: 50px";>Nosotros</h2>
          <h4 style="padding-left: 50px";>Trabajamos en función del hombre y para el hombre.</h4>
          <br>

          <p style="padding-left: 50px; padding-right: 50px">
            Wolf quiere resolver la forma de compra que tiene el hombre hoy en día. Son muchos los que ya no aguantan ir al mall o bien pensar en el hecho de tener que cambiar algo nos agota, para todos estos hombres está pensado Wolf. Los hombres somos simples, no queremos que nos cambien nuestro estilo con la llegada de cada temporada, nosotros sabemos lo que queremos y lo que usaríamos. De esta forma creamos un servicio donde incorporamos una oferta dirigida y personalizada, mezclado con un asesoramiento de imagen el cual siempre es bien recibido, porque sabemos que la ropa para el hombre de hoy es mas que una tenida, es la primera imagen y una forma de darnos a conocer. Nosotros te queremos conocer y brindarte una vestimenta que no quede guardada en el fondo de tu closet, sino al contrario, una que puedas usar frecuentemente, que te acomode y vaya acorde a los gustos de cada uno de los hombres de hoy. Queremos garantizar satisfacción y es por esto que nuestro equipo está trabajando en un área que sabemos que es difícil, pero que creemos fehacientemente que lo lograremos. Estamos respaldados por increíbles proveedores e inversionistas que creen que esto es posible.
          </p>
          
        </div><!-- /.row -->

        <hr class="featurette-divider">

        
      </div>

      <div class="container marketing" >
        <!-- Three columns of text below the carousel -->
        <div class="row" style="padding-bottom: 30px";>

          <div class="col-lg-5" style="padding-left: 50px">
            <div class="col-lg-6">
              <h3>Nicolás Cáceres</h2>
              <h4 style="color:grey">CO-Founder WOLF</h4>   
              <h5 style="color:grey">Head of Clients</h5>         
            </div>
            <div class="col-lg-6">
              <img class="img-circle img-responsive" style="width: 100px; height: 100px;" src="assets/nico.jpg">          
            </div>
            <div class="col-lg-8">
              <br>
              <p>

              "La ropa hoy en día significa mucho mas que antes. Hoy es la primera impresión y un sello de identidad propia. Queremos contribuir con esta búsqueda para que a él le sea un proceso fácil, rápido y eficiente."

              </p>
              <br>

              <a href="https://twitter.com/NicolasCCordero" target="_blank" style="h3">@NicolasCCordero</a>

            </div>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-5">

            <div class="col-lg-6">
              <h3>Sebastián Parisi</h2>
              <h4 style="color:grey">CO-Founder WOLF</h4>   
              <h5 style="color:grey">Head of Solution</h5>         
            </div>
            <div class="col-lg-6">
              <img class="img-circle img-responsive" style="width: 100px; height: 100px;" src="assets/seba.png">          
            </div>
            <div class="col-lg-8">
              <br>
              <p>

              “Estamos haciendo que la compra de ropa se adapte de mejor manera al hombre del siglo XXI. Más fácil. Más Masculino. Más Humano.”

              </p>
              <br>

              <a href="https://twitter.com/parisitho" target="_blank" style="h3">@parisitho</a>

            </div>            
            
          </div>
           
        </div><!-- /.row -->

        <hr class="featurette-divider">

        
      </div>


  </body>
</html>